@mixin layout-div-style {
  display: inline-block;
}

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .left {
    @include layout-div-style;
    width: 10%;
  }

  .right {
    @include layout-div-style;
    width: 10%;
  }

  .middle {
    @include layout-div-style;
    width: 80%;
    max-width: 900px;
    
    .homepage-pigination{
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
