$gray-1: #333; // 一级文字，标题、正文主体、表格内容等主体文字
$gray-2: #666; // 次级文字、辅助性文字、表格标题栏文字
$gray-3: #999; // 三级颜色，辅助性文字，次于666辅助色，可用于提示性文字
$gray-4: #aaa; // 四级颜色，提示性辅助色，常用于图标或文字
$gray-5: #ccc; // 五级灰色，最常用于输入框中提示文字颜色
$gray-6: #e8e8e8; // 分割线/不可用状态
$gray-7: #f3f3f4; // 背景/表格标标题背景
$gray-8: #fafafa; // 下拉菜单选中色/表格行选中色
$gray-9: #fff; // 背景

$blue-1: #082856; // 导航栏Hover
$blue-2: #0d3c81; // 导航栏Background
$blue-3: #1150ac; // 辅助色
$blue-4: #1665d8; // 网站主色，按钮、标签文字、Hover&Click、导航selected、低危Hover Link链接
$blue-5: #40b6df; // 低危状态
$blue-6: #8ab2eb; // 辅助色
$blue-7: #c4d8f5; // 辅助色
$blue-8: #e8effb; //低危标签背景/下拉&表格Hover
$blue-9: #508be1; //未评级颜色
$blue-10: #e6f5fa; //候补颜色

$red-1: #5c1d12; // 辅助色
$red-2: #8a2b1b; // 辅助色
$red-3: #a0321f; // 严重Hover
$red-4: #e6492d; // 严重
$red-5: #ec7661; // 辅助色
$red-6: #f2a496; // 辅助色
$red-7: #f8d1ca; // 辅助色
$red-8: #fcedea; // 严重标签Background

$orange-1: #633000; // 辅助色
$orange-2: #954900; // 辅助色
$orange-3: #c76100; // 高危Hover
$orange-4: #f97a00; // 高危
$orange-5: #fb9c40; // 辅助色
$orange-6: #fcbc7f; // 辅助色
$orange-7: #fddebf; // 辅助色
$orange-8: #fef1e5; // 高危标签Background

$yellow-1: #644708; // 辅助色
$yellow-2: #966b0c; // 辅助色
$yellow-3: #c88f10; // 中危Hover
$yellow-4: #fab314; // 中危
$yellow-5: #fbc95a; // 辅助色
$yellow-6: #fcd989; // 辅助色
$yellow-7: #feecc4; // 辅助色
$yellow-8: #fef7e7; // 中危标签Background

$green-1: #14441b; // 辅助色
$green-2: #1f6628; // 辅助色
$green-3: #298836; // 健康Hover
$green-4: #34aa44; // 健康
$green-5: #67c073; // 辅助色
$green-6: #99d4a1; // 辅助色
$green-7: #ccead0; // 辅助色
$green-8: #eaf6ec; // 健康标签Background

$purple-1: #292361; // 候补颜色
$purple-2: #3d3491; // 候补颜色
$purple-3: #5246c2; // 候补颜色
$purple-4: #6758f3; // 候补颜色
$purple-5: #8d81f6; // 候补颜色
$purple-6: #b3abf9; // 候补颜色
$purple-7: #d8d5fb; // 候补颜色
$purple-8: #f0eefd; // 候补颜色

$cyan-1: #0a4a3a; // 候补颜色
$cyan-2: #0f6f57; // 候补颜色
$cyan-3: #149474; // 候补颜色
$cyan-4: #1ab991; // 候补颜色
$cyan-5: #53cbad; // 候补颜色
$cyan-6: #8cdcc8; // 候补颜色
$cyan-7: #c5ede3; // 候补颜色
$cyan-8: #c5ede3; // 候补颜色
